.weather{
    border: 1px solid #dadde1;
    color: #444647;
    padding: 16px;
    margin: 30px auto;
    max-width: 600px;
    border-radius: 4px;
}
 h1{
    color: #878787;
    color: rgb(135, 135, 135);
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}
 ul{
    margin: 0;
    padding: 0;
}
 li{
font-size: 16px;
font-weight: 100;
line-height: 19px;
list-style: none;
}
.weather form{
    margin-bottom: 20px;
}

 .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }
  
   canvas {
    margin: 20px auto;
  }
  
   .unit {
    color: rgb(33, 33, 33);
    font-size: 15px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    margin: 0;
    padding: 0;
    
    
  }


